body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 2rem;
}

#keyboard {
    height: 65vh;
    width: 75vw;
    background: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#space {
    padding: 1rem;
    width: 50%;
    height: 1.5rem;
    background: grey;
}

#space:active {
    background-color: lightgrey;
}

#caps {
    padding: 1rem;
}

#caps:active {
    background-color: lightgrey;
}

#tab {
    padding: 1rem;
}

#tab:active {
    background-color: lightgrey;
}

#backspace {
    padding: 1rem;
}

#backspace:active {
    background-color: lightgrey;
}

.key {
    padding: 1rem;
}

.key:active {
    background-color: lightgrey;
}