body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    font-size: 2rem;
}

#keyboard {
    height: 60vh;
    width: 70vw;
    background: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.space {
    padding: 1rem;
    width: 50%;
    height: 2rem;
    background: grey;
}

.key {
    padding: 1rem;
}

.key:active {
    background-color: lightgrey;
}