<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>App Launcher</title>
      <script src="../static/scripts/open-apps.js"> </script>
      <link href="../static/styles/index.css" rel="stylesheet"/>
  </head>
  <body>
    <h1> Games </h1>
    <div>
        <button id="steam-button" type="button"> Open Steam </button>
        <button id="borderlands-button" type="button"> Open Borderlands 3 </button>
        <button id="cs-button" type="button"> Open CS2 </button>
        <button id="gta-button" type="button"> Open GTA 5 </button>
    </div>
    <p><a href="/"> Homepage</a></p>
  </body>
</html>