<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Texter</title>
        <script src="../static/scripts/keyboard.js"> </script>
        <link rel="stylesheet" href="../static/styles/keyboard.css">
    </head>
    <body>
        <h1><a href="/"> Homepage</a></h1>
        <label for="control-select">Choose Input Type: </label>
        <select name="inputting" id="control-select">
            <option value="keyboard">Keyboard</option>
            <option value="trackpad">Trackpad</option>
        </select>
        <div class="displays flex" id="keyboard">
            <div class="row">
                <div class="key hardshift" id="1">1</div>
                <div class="key hardshift" id="2">2</div>
                <div class="key hardshift" id="3">3</div>
                <div class="key hardshift" id="4">4</div>
                <div class="key hardshift" id="5">5</div>
                <div class="key hardshift" id="6">6</div>
                <div class="key hardshift" id="7">7</div>
                <div class="key hardshift" id="8">8</div>
                <div class="key hardshift" id="9">9</div>
                <div class="key hardshift" id="0">0</div>
                <div class="key hardshift" id="-">-</div>
                <div class="key hardshift" id="=">=</div>
                <img class="special" id="backspace" src="../static/images/backspace.png" alt="Backspace">
            </div>
            <div class="row">
                <img class="special" id="tab" src="../static/images/tab.png" alt="Tab">
                <div class="key letter shift">q</div>
                <div class="key letter shift">w</div>
                <div class="key letter shift">e</div>
                <div class="key letter shift">r</div>
                <div class="key letter shift">t</div>
                <div class="key letter shift">y</div>
                <div class="key letter shift">u</div>
                <div class="key letter shift">i</div>
                <div class="key letter shift">o</div>
                <div class="key letter shift">p</div>
                <div class="key letter hardshift" id="[">[</div>
                <div class="key letter hardshift" id="]">]</div>
                <div class="key letter hardshift" id="\">\</div>
            </div>
            <div class="row">
                <img id="caps" src="../static/images/caps_unpressed.png" alt="CapsLock">
                <div class="key letter shift">a</div>
                <div class="key letter shift">s</div>
                <div class="key letter shift">d</div>
                <div class="key letter shift">f</div>
                <div class="key letter shift">g</div>
                <div class="key letter shift">h</div>
                <div class="key letter shift">j</div>
                <div class="key letter shift">k</div>
                <div class="key letter shift">l</div>
                <div class="key letter hardshift" id=";">;</div>
                <div class="key letter hardshift" id="'">'</div>
                <img class="special" id="enter" src="../static/images/enter.png" alt="Enter">
            </div>
            <div class="row">
                <div class="key letter shift">z</div>
                <div class="key letter shift">x</div>
                <div class="key letter shift">c</div>
                <div class="key letter shift">v</div>
                <div class="key letter shift">b</div>
                <div class="key letter shift">n</div>
                <div class="key letter shift">m</div>
                <div class="key letter hardshift" id=",">,</div>
                <div class="key letter hardshift" id=".">.</div>
                <div class="key letter hardshift" id="/">/</div>
            </div>
            <div class="row">
                <div class="special" id="space"></div>
            </div>
        </div>
        <div class="displays flex" id="trackpad">
            <div>
                <label for="screen-width">Screen Width</label>
                <input type="number" id="screen-width" name="screen-width" min="1920" step="640" value="1920">
                <label for="screen-height">Screen Width</label>
                <input type="number" id="screen-height" name="screen-height" min="1080" step="100" value="1080">
            </div>
            <div id="mouse">
                <div id="mouse-area">

                </div>
                <div id="click-area">
                    <div class="mouse-clicks" id="left-click">

                    </div>
                    <div id="middle-click">

                    </div>
                    <div class="mouse-clicks" id="right-click">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>