<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Texter</title>
        <script src="../static/scripts/keyboard.js"> </script>
        <link rel="stylesheet" href="../static/styles/keyboard.css">
    </head>
    <body>
        <h1><a href="/"> Homepage</a></h1>
        <div id="keyboard">
            <div class="row">
                <div class="key">1</div>
                <div class="key">2</div>
                <div class="key">3</div>
                <div class="key">4</div>
                <div class="key">5</div>
                <div class="key">6</div>
                <div class="key">7</div>
                <div class="key">8</div>
                <div class="key">9</div>
                <div class="key">0</div>
                <div class="key">-</div>
                <div class="key">=</div>
                <div class="key" id="backspace"><img src="../static/images/backspace.png" alt="Backspace"></div>
            </div>
            <div class="row">
                <div class="key" id="tab"><img src="../static/images/tab.png" alt="Tab"></div>
                <div class="key letter shift">q</div>
                <div class="key letter shift">w</div>
                <div class="key letter shift">e</div>
                <div class="key letter shift">r</div>
                <div class="key letter shift">t</div>
                <div class="key letter shift">y</div>
                <div class="key letter shift">u</div>
                <div class="key letter shift">i</div>
                <div class="key letter shift">o</div>
                <div class="key letter shift">p</div>
                <div class="key letter">[</div>
                <div class="key letter">]</div>
                <div class="key letter">\</div>
            </div>
            <div class="row">
                <div class="key" id="caps"><img src="../static/images/caps_unpressed.png" alt="CapsLock"></div>
                <div class="key letter shift">a</div>
                <div class="key letter shift">s</div>
                <div class="key letter shift">d</div>
                <div class="key letter shift">f</div>
                <div class="key letter shift">g</div>
                <div class="key letter shift">h</div>
                <div class="key letter shift">j</div>
                <div class="key letter shift">k</div>
                <div class="key letter shift">l</div>
                <div class="key letter">;</div>
                <div class="key letter">'</div>
                <div class="key" id="enter"><img src="../static/images/enter.png" alt="Enter"></div>
            </div>
            <div class="row">
                <div class="key letter shift">z</div>
                <div class="key letter shift">x</div>
                <div class="key letter shift">c</div>
                <div class="key letter shift">v</div>
                <div class="key letter shift">b</div>
                <div class="key letter shift">n</div>
                <div class="key letter shift">m</div>
                <div class="key letter">,</div>
                <div class="key letter">.</div>
                <div class="key letter">/</div>
            </div>
            <div class="row">
                <div class="space"></div>
            </div>
        </div>
    </body>
</html>